@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Josefin+Sans:ital,wght@0,100;0,300;0,500;1,300;1,400&display=swap");
:root {
  --clr-body: rgb(255, 255, 255);
  --clr-text: black;
  --clr-hover: rgb(67, 67, 234);
  --clr-shadov:0px 8px 16px 0px rgba(0, 0, 0, 0.116);
  --clr-search:#b8b5fcd3;
  --clr-violet: #8B4DED;
  --clr-lime: #C5EC00;
  --clr-yellow:#FFE500;
  --lime-gradient: linear-gradient(
    45deg,
    #8B4DED,
    #c3a5f4,
    #C5EC00,
    #FFE500
  );
  --gradient: linear-gradient(
    45deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  );
  --ff-primary: "Poppins", sans-serif;
  --ff-body: var(--ff-primary);
  --fs-body: var(--size-400);
  --fs-accent:var(--size-900);
  --fs-h2:var(--size-800);
  --fs-secondary-heading:var(--size-700);
  --fs-nav: var( --size-300);
  --fs-button: var(--size-200);
  --fs-secondary-text:var(--size-200);
  --fs-title: var(--size-800);
  --size-200: 0.75rem;
  --size-300: 0.875rem;
  --size-400: 1rem;
  --size-600: 1.125rem;
  --size-700: 1.5rem;
  --size-800: 3.125rem;
  --size-900: 3.5rem;
  --st--space-between: 200px;
  --st--space-gap: 25px;
  --st--padding-section: 60px;
  --border-btn: 0px solid transparent;
  --border-radius-btn: 5px;
  --border-radius-content: 60px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1 {
  width: 100%;
  font-size: var(--fs-accent);
  color: var(--clr-text);
  font-weight: 600;
}

h2 {
  width: 100%;
  font-size: var(--fs-h2);
  color: var(--clr-text);
  font-weight: 600;
}

.primary-header {
  background-color: var(--clr-body);
  padding: 10px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 200;
  top: 0;
  left: 0;
  box-shadow: 0 5px 5px rgba(182, 182, 182, 0.3);
}
.primary-header .container {
  --max-width:1440px;
  --padding: 1rem;
  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--fs-body);
  font-family: var(--ff-body);
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.left-nav {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: var(--ff-primary);
  background: var(--clr-body);
}
.left-nav .logo-container {
  max-height: 100px;
  margin-right: 16px;
}
.left-nav .logo-container img {
  max-width: 100px;
  max-height: 100px;
}
.left-nav ul {
  list-style: none;
  position: relative;
  text-align: left;
}
.left-nav li {
  display: inline-block;
  margin: 0 24px 0 0;
  padding: 24px 0;
}
.left-nav a {
  color: var(--clr-text);
  font-size: var(--fs-nav);
  text-decoration: none;
  display: inline-block;
  padding: 0;
}
.left-nav .dropbtn {
  background-color: transparent;
  color: var(--clr-text);
  padding: 16px;
  font-size: var(--fs-nav);
  border: none;
  cursor: pointer;
}
.left-nav .dropdown {
  position: relative;
  display: inline-block;
}
.left-nav .dropdown-content {
  display: none;
  position: absolute;
  padding: 8px;
  background-color: var(--clr-body);
  min-width: 180px;
  box-shadow: var(--clr-shadov);
  border-radius: var(--border-radius-btn);
  z-index: 1;
}
.left-nav .dropdown-content a:hover {
  -webkit-text-decoration: underline var(--clr-hover);
          text-decoration: underline var(--clr-hover);
}
.left-nav .dropdown-content .dropdown-row {
  display: flex;
  justify-content: start;
  gap: 16px;
}
.left-nav .dropdown-content .dropdown-row span {
  flex-shrink: 0;
}
.left-nav .dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}
.left-nav .dropdown:hover .dropbtn {
  border: 2px solid rgba(197, 236, 0, 0.5607843137);
  border-radius: 10px;
  padding: 5px 16px;
}

.center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 1024px) {
  .center {
    display: none;
  }
}
.center .search-bar {
  position: relative;
  display: flex;
  justify-content: start;
  display: flex;
  width: 100%;
  border-radius: var(--border-radius-content);
  padding: 0;
}
.center .search-bar input {
  width: 100%;
  outline: none;
  border-radius: var(--border-radius-content);
  background-color: var(--clr-search);
  border: var(--border-btn);
  padding-left: 24px;
  height: 50px;
  font-size: var(--fs-button);
}
.center ::-moz-placeholder {
  color: var(--clr-body);
}
.center :-ms-input-placeholder {
  color: var(--clr-body);
}
.center ::placeholder {
  color: var(--clr-body);
}
.center .search-bar button {
  position: absolute;
  right: 0;
  border: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: var(--gradient);
  cursor: pointer;
  background-size: 300%;
  background-position: left;
  transition: background-position 1s;
}
.center img {
  width: 350px;
  height: auto;
  position: center;
  padding: 5px 15px 5px 15px;
}
.center .search-bar button:hover,
.center .search-bar button:focus {
  background-position: right;
}

.right-nav {
  display: flex;
  justify-content: end;
  align-items: center;
  float: right;
  width: 100%;
}
@media only screen and (max-width: 1024px) {
  .right-nav {
    display: none;
  }
}
.right-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.right-nav li {
  display: inline-block;
  margin-left: left 70px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 24px;
  position: relative;
}
.right-nav a {
  color: var(--clr-text);
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--fs-nav);
}
.right-nav a:hover {
  color: var(--clr-hover);
}
.right-nav a::before {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--clr-hover);
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 0.25s;
}
.right-nav a:hover::before {
  width: 100%;
}

.burger-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}
@media only screen and (min-width: 1024px) {
  .burger-container {
    display: none;
  }
}

.main-content {
  margin-top: var(--st--space-between);
  margin-bottom: var(--st--space-between);
}

.hero {
  width: 100%;
  display: flex;
  gap: var(--st--space-gap);
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.hero h2 {
  font-size: var(--fs-secondary-heading);
}
.hero h1 {
  max-width: 860px;
  margin: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.hero h1 span {
  padding: 4px 8px;
  border-radius: 32px;
}
.hero h1 span:first-child {
  background-image: var(--lime-gradient);
  -webkit-animation: bg-animation 8s infinite alternate;
          animation: bg-animation 8s infinite alternate;
  background-size: 300%;
  transition: background-position 1s;
}
@-webkit-keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@-webkit-keyframes blink {
  to {
    /* background: transparent; */
    visibility: hidden;
  }
}

@keyframes blink {
  to {
    /* background: transparent; */
    visibility: hidden;
  }
}
@-webkit-keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.subtitle {
  color: var(--clr-text);
  font-size: 2rem;
  font-weight: 400;
  opacity: 0;
  transform: translateY(3rem);
  -webkit-animation: fadeInUp 2s ease forwards;
          animation: fadeInUp 2s ease forwards;
}

.cta-container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.cta-container button {
  margin-top: 42px;
  z-index: 20;
}

.cta-button {
  width: 146px;
  min-height: 48px;
  border: var(--border-btn);
  border-radius: var(--border-radius-btn);
  background: var(--gradient);
  font-size: var(--fs-secondary-text);
  color: var(--clr-body);
  letter-spacing: 1px;
  cursor: pointer;
  background-size: 300%;
  background-position: left;
  transition: background-position 1s;
  text-decoration: none;
}
.cta-button:hover {
  background-position: right;
}

.section {
  padding: var(--st--padding-section) 0px;
  width: min(95%, 70rem);
  margin: auto;
}
.section .section-title {
  text-align: center;
}

:root {
  --typewriterSpeed: 4s;
  --typewriterCharacters: 18;
}

.testimonial-grid {
  display: grid;
  gap: 1.5rem;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: "one" "two" "three";
  padding-block: 2rem;
  width: min(95%, 70rem);
  margin-inline: auto;
}
.testimonial-grid .grid-icon {
  width: 62px;
  height: 62px;
}
.testimonial-grid .testimonial:first-child {
  display: flex;
  flex-direction: row;
  background: var(--clr-lime);
  grid-area: one;
}
@media only screen and (max-width: 1024px) {
  .testimonial-grid .testimonial:first-child {
    display: flex;
    flex-direction: column;
  }
}
.testimonial-grid .testimonial:first-child h2 {
  margin-bottom: 16px;
}
.testimonial-grid .testimonial:first-child .next-sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: var(--fs-h2);
  color: var(--clr-text);
  font-weight: 600;
}
.testimonial-grid .testimonial:first-child .next-sub h3 {
  font-size: 24px;
  position: relative;
  font-family: var(--ff-primary);
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.testimonial-grid .testimonial:first-child .next-sub h3::before,
.testimonial-grid .testimonial:first-child .next-sub h3::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.testimonial-grid .testimonial:first-child .next-sub h3::before {
  background: var(--clr-lime);
  -webkit-animation: typewriter var(--typewriterSpeed) steps(18) 1s forwards;
          animation: typewriter var(--typewriterSpeed) steps(18) 1s forwards;
}
.testimonial-grid .testimonial:first-child .next-sub h3::after {
  width: 0.125em;
  background: var(--clr-text);
  -webkit-animation: typewriter var(--typewriterSpeed) steps(18) 1s forwards, blink 1.2s steps(2, start) infinite;
          animation: typewriter var(--typewriterSpeed) steps(18) 1s forwards, blink 1.2s steps(2, start) infinite;
}
@-webkit-keyframes typewriter {
  to {
    left: 100%;
  }
}
@keyframes typewriter {
  to {
    left: 100%;
  }
}
.testimonial-grid .testimonial:first-child .position {
  width: 90%;
}
.testimonial-grid .testimonial:first-child .animated-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.testimonial-grid .testimonial:first-child .animated {
  width: 100%;
  background-image: radial-gradient(rgba(58, 14, 234, 0.612), #8B4DED, rgb(58, 11, 247) 40%);
  min-height: 50vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  perspective: 10em;
  perspective-origin: 50% calc(50% - 2.5em);
  border-radius: 40px;
}
.testimonial-grid .testimonial:first-child img {
  width: 100%;
}
.testimonial-grid .testimonial:nth-child(2) {
  background: var(--clr-hover);
  color: var(--clr-body);
  grid-area: two;
}
.testimonial-grid .testimonial:nth-child(2) .img {
  padding: 32px 0px;
}
.testimonial-grid .testimonial:nth-child(2) .icon {
  width: 100%;
}
.testimonial-grid .testimonial:nth-child(2) h2 {
  color: var(--clr-body);
  margin-bottom: 16px;
}
.testimonial-grid .testimonial:nth-child(2) .image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 32px;
  margin-bottom: 16px;
}
.testimonial-grid .testimonial:nth-child(2) .image-container img {
  width: 45%;
  border: 2px solid black;
}
.testimonial-grid .testimonial:last-child {
  background: var(--clr-yellow);
  grid-area: three;
}
.testimonial-grid .testimonial:last-child .img {
  padding: 32px 0px;
}
.testimonial-grid .testimonial:last-child img {
  width: 100%;
}
.testimonial-grid .testimonial:last-child .grid-icon img {
  border-radius: 0px;
  margin-bottom: 5px;
}

.testimonial {
  font-size: 50px;
  padding: 2rem;
  border-radius: 20px;
  font-family: bold var(--ff-primary);
  color: var(--clr-text);
}

@media (min-width: 20em) {
  .testimonial-grid {
    grid-template-areas: "one" "two" "three";
  }
}
@media (min-width: 40em) {
  .testimonial-grid {
    grid-template-areas: "one" "two" "three";
  }
}
@media (min-width: 50em) {
  .testimonial-grid {
    grid-template-areas: "one one" "two three";
  }
}
.grid-col-span-2 {
  grid-row: span 2;
}

.testimonial img {
  width: 50%;
  aspect-ratio: 0;
  border-radius: 40px;
}

.testimonial .name {
  font-size: bold var(--fs-title);
  line-height: 1;
}

.testimonial .position {
  font-size: var(--fs-secondary-heading);
}

.testimonial > p:first-of-type {
  font-size: var(--fs-secondary-heading);
  line-height: 1.2;
}

:root {
  --cubeColor:#fbff008f;
  --rotateSpeed: 30s;
  --bounceSpeed: 1.5s;
}

.animated-container {
  width: 50%;
}
.animated-container .scene {
  position: absolute;
  transform-style: preserve-3d;
  -webkit-animation: sceneRotate var(--rotateSpeed) infinite linear;
          animation: sceneRotate var(--rotateSpeed) infinite linear;
}
@-webkit-keyframes sceneRotate {
  to {
    transform: rotateY(360deg);
  }
}
@keyframes sceneRotate {
  to {
    transform: rotateY(360deg);
  }
}
.animated-container .ball {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: rgba(7, 123, 240, 0.603);
  position: absolute;
  left: -0.5em;
  bottom: 1em;
  background-image: radial-gradient(circle at top, rgba(252, 252, 252, 0.966), rgba(137, 210, 255, 0.966), rgb(58, 11, 247), rgb(2, 24, 27));
  animation: ballBounce var(--bounceSpeed) infinite ease-out, sceneRotate var(--rotateSpeed) infinite linear reverse;
}
@-webkit-keyframes ballBounce {
  0%, 100% {
    bottom: 0.5em;
  }
  50% {
    bottom: 3em;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}
@keyframes ballBounce {
  0%, 100% {
    bottom: 0.5em;
  }
  50% {
    bottom: 3em;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}
.animated-container .ballShadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(rgba(4, 37, 40, 0.467), rgba(5, 180, 254, 0) 50%);
  -webkit-animation: ballShadow var(--bounceSpeed) infinite ease-out;
          animation: ballShadow var(--bounceSpeed) infinite ease-out;
}
@-webkit-keyframes ballShadow {
  0%, 8%, 93.5%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(2);
    opacity: 0.5;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}
@keyframes ballShadow {
  0%, 8%, 93.5%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(2);
    opacity: 0.5;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}
.animated-container .cube {
  width: 2em;
  height: 2em;
  transform-style: preserve-3d;
  position: absolute;
  bottom: -1em;
  left: -1em;
  -webkit-animation: cubeHeight var(--bounceSpeed) infinite linear;
          animation: cubeHeight var(--bounceSpeed) infinite linear;
}
@-webkit-keyframes cubeHeight {
  0%, 100% {
    height: 1.5em;
  }
  8%, 93.5% {
    height: 2em;
  }
}
@keyframes cubeHeight {
  0%, 100% {
    height: 1.5em;
  }
  8%, 93.5% {
    height: 2em;
  }
}
.animated-container .cube .left,
.animated-container .cube .right,
.animated-container .cube .front,
.animated-container .cube .back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--cubeColor);
  box-shadow: 0 0 0.5em rgba(226, 39, 217, 0.295) inset;
}
.animated-container .cube .front {
  transform: translateZ(1em);
}
.animated-container .cube .right {
  transform: rotateY(90deg) translateZ(1em);
}
.animated-container .cube .back {
  transform: rotateY(180deg) translateZ(1em);
}
.animated-container .cube .left {
  transform: rotateY(270deg) translateZ(1em);
}
.animated-container .cube .top {
  position: absolute;
  width: 2em;
  height: 2em;
  background: var(--cubeColor);
  transform: translateY(-50%) rotateX(90deg);
  box-shadow: 0 0 0.5em rgba(2, 14, 53, 0.342) inset;
}
.animated-container .cube .bottom {
  position: absolute;
  width: 2em;
  height: 2em;
  background: rgba(82, 131, 8, 0.014);
  bottom: 0;
  transform: translateY(50%) rotateX(90deg);
  box-shadow: 0 0 0.5em rgba(13, 5, 55, 0.705);
}
.animated-container .floor {
  position: absolute;
  top: 1em;
  transform: translate(-50%, -50%) rotateX(90deg);
  width: 15em;
  height: 15em;
  background-image: radial-gradient(rgba(109, 77, 237, 0.4549019608), rgba(231, 245, 32, 0.495), rgba(138, 77, 237, 0.9058823529), rgba(67, 0, 236, 0.8235294118) 85%), repeating-conic-gradient(from 45deg, rgb(231, 245, 32) 0deg 90deg, rgba(46, 11, 219, 0.895) 90deg 180deg);
  background-size: 100%, 1em 1em;
  border-radius: 50%;
}

.next-sub {
  width: 100%;
  display: flex;
  gap: var(--st--space-gap);
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.card-grid {
  font-size: 50px;
  padding: 2rem;
  border-radius: 0.5rem;
  font-family: var(--ff-primary);
  z-index: 0;
}

.grid-col-span-2 {
  grid-row: span 1;
}

.card {
  font-family: sans-serif;
  min-height: 1vh;
  display: grid;
  place-items: center;
  background: transparent;
  color: var(--clr-text);
}
.card .game {
  position: relative;
  width: 6em;
  cursor: pointer;
}
.card .game:hover {
  color: var(--clr-body);
  pointer-events: visible;
}
.card .game:hover .rank {
  transform: translate(210%, -106%);
}
.card .game:hover .front {
  transform: translateY(-30%) scale(0.8);
}
.card .game:hover .front .name {
  -webkit-animation: gameName 250ms forwards;
          animation: gameName 250ms forwards;
}
.card .game:hover .front .stats {
  opacity: 0;
}
.card .game:hover .back {
  opacity: 1;
  transition: transform 250ms ease, opacity 150ms linear;
  transform: translateY(0);
}
.card .game:hover .back .streamers {
  width: 100%;
  justify-content: space-between;
}
.card .game:hover .back .name {
  font-size: var(--fs-body);
  margin: 0;
}
.card .game:hover .back .number {
  font-size: var(--fs-button);
  margin-top: 0;
}
.card .game:hover .background {
  transition: transform 250ms ease, opacity 150ms linear, opacity 100ms linear;
  opacity: 1;
  transform: scale(2.2, 1.25);
}
.card .back {
  pointer-events: none;
}
.card .rank {
  position: absolute;
  top: 0;
  right: 0.5em;
  border-radius: 0 0 5px 5px;
  z-index: 100;
  background: rgba(37, 3, 105, 0.651);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: transform 200ms cubic-bezier(0.21, 1, 0.81, 1), opacity 100ms linear;
}
.card .rank .icon {
  width: 50px;
  height: auto;
}
.card .front {
  transition: 250ms;
}
.card .front .banner {
  width: 100%;
  border-radius: 0.5em;
  z-index: 1000;
}
.card .front .name {
  margin: 1.5em 0;
  font-size: var(--fs-body);
}
.card .front .stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .front .cost-colect {
  font-size: var(--fs-body);
}
.card .front .cost-colect .colect {
  padding: 1px 8px;
  border-radius: 60px;
  letter-spacing: 1px;
  background-image: var(--lime-gradient);
  -webkit-animation: bg-animation 8s infinite alternate;
          animation: bg-animation 8s infinite alternate;
  background-size: 300%;
  transition: background-position 1s;
}
@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
.card .front .streamers img {
  border: 1px solid var(--clr-violet);
}
.card .front .streamers img:nth-of-type(1) {
  transform: translateX(50%);
  z-index: 1;
}
.card .front .streamers img:nth-of-type(2) {
  transform: translateX(25%);
}
.card .back {
  opacity: 0;
  position: absolute;
  top: 52%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.45em;
  transform: translateY(35%);
}
.card .back .NFT-info {
  width: 100%;
  display: flex;
  font-size: var(--fs-button);
  justify-content: center;
  max-height: 40px;
}
.card .back .NFT-info div {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.card .back .NFT-info div:first-child {
  border-right: 2px solid var(--clr-lime);
  justify-content: end;
  padding-right: 10px;
}
.card .back .NFT-info div:last-child {
  justify-content: start;
  padding-left: 10px;
}
.card .btn {
  cursor: pointer;
  border: 0;
  width: 146px;
  height: 48px;
  background: var(--lime-gradient);
  background-size: 300%;
  background-position: right;
  transition: background-position 1s;
  border-radius: 60px;
  color: var(--clr-text);
  font-size: var(--fs-button);
  padding: 0.5em 1.5em;
  pointer-events: visible;
}
.card .btn:hover {
  background-position: left;
}
.card .streamers {
  display: flex;
  text-align: center;
}
.card .streamers img {
  width: 1em;
  height: 1em;
  border-radius: 50%;
}
@-webkit-keyframes gameName {
  0% {
    text-align: left;
    opacity: 1;
  }
  20% {
    text-align: left;
    opacity: 0;
  }
  50% {
    text-align: center;
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    text-align: center;
    opacity: 1;
    transform: scale(1.2);
  }
}
@keyframes gameName {
  0% {
    text-align: left;
    opacity: 1;
  }
  20% {
    text-align: left;
    opacity: 0;
  }
  50% {
    text-align: center;
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    text-align: center;
    opacity: 1;
    transform: scale(1.2);
  }
}
.card .item .icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  transition: transform ease-in-out 150ms;
}
.card .item:hover .icon {
  transform: translateY(-10%);
}
.card .item:hover .icon::before {
  opacity: 1;
}
.card .item.icon:hover {
  transform: translateY(-15%) scale(1.2);
}
.card .icon::before,
.card .icon::after {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 50%;
  pointer-events: visible;
}
.card .icon::before {
  background: rgba(215, 25, 199, 0.429);
  display: grid;
  place-items: center;
  z-index: 10;
  transition: opacity 75ms linear, background-color 100ms linear;
}
.card .icon:hover::before {
  background: rgba(161, 96, 231, 0.253);
}
.card .icon:hover::after {
  background: rgba(230, 215, 241, 0.523);
  z-index: 1;
  -webkit-animation: pulse 1250ms infinite;
          animation: pulse 1250ms infinite;
}
@-webkit-keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0.9;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0.9;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}
.card .background {
  background: rgb(6, 6, 26);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transform: scale(0.6, 0.9);
  opacity: 0;
  border-radius: 10px;
  pointer-events: none;
}

.newsletter {
  display: flex;
  flex-direction: column;
  background: var(--clr-hover);
  padding: 32px;
  border-radius: 24px;
  color: white;
  gap: 24px;
}
.newsletter .newsletter-content {
  display: flex;
}
.newsletter .newsletter-content .left {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 90%;
}
.newsletter .newsletter-content .left h2 {
  color: white;
}
.newsletter .newsletter-content .left .description-container {
  width: 70%;
}
.newsletter .newsletter-content .left .form-newsletter {
  display: flex;
  gap: 16px;
}
.newsletter .newsletter-content .left .form-newsletter input {
  padding: 4px 12px;
  border-radius: 8px;
  outline: none;
  border: none;
}
.newsletter .newsletter-content .left .form-newsletter button {
  cursor: pointer;
  border: 0;
  width: 146px;
  height: 48px;
  background: var(--lime-gradient);
  background-size: 300%;
  background-position: right;
  transition: background-position 1s;
  border-radius: 60px;
  color: var(--clr-text);
  font-size: var(--fs-button);
  padding: 0.5em 1.5em;
  pointer-events: visible;
}
.newsletter .newsletter-content .left .form-newsletter button:hover {
  background-position: left;
}
.newsletter .newsletter-content .right {
  width: 50%;
}
.newsletter .newsletter-content .right .image-container .container {
  font-family: var(--ff-body);
  font-weight: 500;
  width: 30%;
  min-height: 20vh;
  display: grid;
  place-items: center;
  perspective: 1000px;
  perspective-origin: 5% calc(5% - 350px);
  margin: 60px;
}
.newsletter .newsletter-content .right .scene {
  position: relative;
  transform-style: preserve-3d;
}
.newsletter .newsletter-content .right .banner {
  display: flex;
  transform-style: preserve-3d;
  -webkit-animation: rotate 15s infinite linear;
          animation: rotate 15s infinite linear;
}
@-webkit-keyframes rotate {
  to {
    transform: rotateY(-360deg);
  }
}
@keyframes rotate {
  to {
    transform: rotateY(-360deg);
  }
}
.newsletter .newsletter-content .right .panel {
  position: absolute;
  transform: translate(-50%, -50%) rotateY(var(--angle)) translateZ(220px);
  width: 50px;
  height: 100px;
  overflow: hidden;
}
.newsletter .newsletter-content .right .panel::before {
  position: absolute;
  left: var(--left);
  content: "Get the latest news with NFT Drops * Get the latest news with NFT * ";
  font-size: 42px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: hsl(var(--hue), 75%, 75%);
}
.newsletter .newsletter-content .right .panel:nth-child(1) {
  --left: 0px;
  --hue: 0;
  --angle: 0deg;
}
.newsletter .newsletter-content .right .panel:nth-child(2) {
  --left: -50px;
  --hue: 12.8571428571;
  --angle: 12.8571428571deg;
}
.newsletter .newsletter-content .right .panel:nth-child(3) {
  --left: -100px;
  --hue: 25.7142857143;
  --angle: 25.7142857143deg;
}
.newsletter .newsletter-content .right .panel:nth-child(4) {
  --left: -150px;
  --hue: 38.5714285714;
  --angle: 38.5714285714deg;
}
.newsletter .newsletter-content .right .panel:nth-child(5) {
  --left: -200px;
  --hue: 51.4285714286;
  --angle: 51.4285714286deg;
}
.newsletter .newsletter-content .right .panel:nth-child(6) {
  --left: -250px;
  --hue: 64.2857142857;
  --angle: 64.2857142857deg;
}
.newsletter .newsletter-content .right .panel:nth-child(7) {
  --left: -300px;
  --hue: 77.1428571429;
  --angle: 77.1428571429deg;
}
.newsletter .newsletter-content .right .panel:nth-child(8) {
  --left: -350px;
  --hue: 90;
  --angle: 90deg;
}
.newsletter .newsletter-content .right .panel:nth-child(9) {
  --left: -400px;
  --hue: 102.8571428571;
  --angle: 102.8571428571deg;
}
.newsletter .newsletter-content .right .panel:nth-child(10) {
  --left: -450px;
  --hue: 115.7142857143;
  --angle: 115.7142857143deg;
}
.newsletter .newsletter-content .right .panel:nth-child(11) {
  --left: -500px;
  --hue: 128.5714285714;
  --angle: 128.5714285714deg;
}
.newsletter .newsletter-content .right .panel:nth-child(12) {
  --left: -550px;
  --hue: 141.4285714286;
  --angle: 141.4285714286deg;
}
.newsletter .newsletter-content .right .panel:nth-child(13) {
  --left: -600px;
  --hue: 154.2857142857;
  --angle: 154.2857142857deg;
}
.newsletter .newsletter-content .right .panel:nth-child(14) {
  --left: -650px;
  --hue: 167.1428571429;
  --angle: 167.1428571429deg;
}
.newsletter .newsletter-content .right .panel:nth-child(15) {
  --left: -700px;
  --hue: 180;
  --angle: 180deg;
}
.newsletter .newsletter-content .right .panel:nth-child(16) {
  --left: -750px;
  --hue: 192.8571428571;
  --angle: 192.8571428571deg;
}
.newsletter .newsletter-content .right .panel:nth-child(17) {
  --left: -800px;
  --hue: 205.7142857143;
  --angle: 205.7142857143deg;
}
.newsletter .newsletter-content .right .panel:nth-child(18) {
  --left: -850px;
  --hue: 218.5714285714;
  --angle: 218.5714285714deg;
}
.newsletter .newsletter-content .right .panel:nth-child(19) {
  --left: -900px;
  --hue: 231.4285714286;
  --angle: 231.4285714286deg;
}
.newsletter .newsletter-content .right .panel:nth-child(20) {
  --left: -950px;
  --hue: 244.2857142857;
  --angle: 244.2857142857deg;
}
.newsletter .newsletter-content .right .panel:nth-child(21) {
  --left: -1000px;
  --hue: 257.1428571429;
  --angle: 257.1428571429deg;
}
.newsletter .newsletter-content .right .panel:nth-child(22) {
  --left: -1050px;
  --hue: 270;
  --angle: 270deg;
}
.newsletter .newsletter-content .right .panel:nth-child(23) {
  --left: -1100px;
  --hue: 282.8571428571;
  --angle: 282.8571428571deg;
}
.newsletter .newsletter-content .right .panel:nth-child(24) {
  --left: -1150px;
  --hue: 295.7142857143;
  --angle: 295.7142857143deg;
}
.newsletter .newsletter-content .right .panel:nth-child(25) {
  --left: -1200px;
  --hue: 308.5714285714;
  --angle: 308.5714285714deg;
}
.newsletter .newsletter-content .right .panel:nth-child(26) {
  --left: -1250px;
  --hue: 321.4285714286;
  --angle: 321.4285714286deg;
}
.newsletter .newsletter-content .right .panel:nth-child(27) {
  --left: -1300px;
  --hue: 334.2857142857;
  --angle: 334.2857142857deg;
}
.newsletter .newsletter-content .right .panel:nth-child(28) {
  --left: -1350px;
  --hue: 347.1428571429;
  --angle: 347.1428571429deg;
}
.newsletter .newsletter-content .right .image-container .screen .logo-home {
  position: absolute;
  width: 180px;
  height: 180px;
  transform: translate(-50%, -50%);
}
.newsletter .newsletter-footer {
  font-size: 12px;
}
.newsletter .newsletter-footer a {
  color: var(--clr-lime);
}

.footer {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 32px 32px 0px 32px;
  background-color: var(--clr-search);
  display: flex;
  justify-content: center;
}
.footer .title {
  font-size: 24px;
  font-weight: 600;
}
.footer h4 {
  font-size: 24px;
  margin-bottom: 24px;
}
.footer .list {
  list-style: none;
}
.footer .list .list-item {
  margin-bottom: 16px;
}
.footer .list .list-item a {
  text-decoration: none;
  color: var(--clr-text);
}
.footer .list .list-item a:hover {
  color: var(--clr-hover);
}
.footer .footer-container {
  width: 1440px;
  display: flex;
  flex-direction: column;
}
.footer .footer-container .top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 600px) {
  .footer .footer-container .top {
    flex-direction: column;
  }
}
.footer .footer-container .top .logo-column .list {
  display: flex;
  gap: 10px;
}
.footer .footer-container .top .logo-column .list img {
  height: 32px;
  width: 32px;
}
.footer .footer-container .bottom {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.footer .footer-container .bottom .policy {
  gap: 64px;
  display: flex;
  justify-content: start;
}
.footer .footer-container .bottom .link {
  text-decoration: none;
  font-size: 14px;
}/*# sourceMappingURL=NFT1.css.map */